body {
    background: rgb(214, 165, 165);
    margin: 0;
    padding: 0;
  }


  
  li {
    color: rgb(0, 0, 0);
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 20px 18px 10px 0px;
    margin-left: 600px;
  }
  
  
  /* Table */
  
  table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
  }
  
  thead th {
    background:  rgb(149, 90, 177);
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
    font-size:18px;
  }
  
  #picture{
      margin: 2px;
      margin-right: 10px;
      float: left;
      border: 6px ridge #88CCF1;
  }
  h1{
      text-align: center
  }

  




