section {
    background-color: blue;
}


@media screen and (max-width: 360px){
#grid-flex { width: 90%; }
img { width: 90%; }
.grid-item { 
    width: 40%;
    height: 460px;
    float: left;
    padding: 10px;
      }
section{
    background-color: red;
}
body{
    background-color:rgb(243, 243, 243); 
}
li:first-child {
    width: 100%;
    height: 400px;
}
}

@media screen and (min-width: 361px) and (max-width: 920px){
#grid-flex { width: 90%; }
img { width: 40%; }
.grid-item { 
    width: 30%; 
    height: 350px; 
    float: left; 
    padding: 7px; 
}
li:nth-child(-n+2) {
    width: 48%;
    height: 300px;   
}
section{
    background-color:green;
}
body{
    background-color:rgba(0, 255, 0, 0.116); 
}
}


@media screen and (min-width: 921px){
#grid-flex { width: 90%; }
img { width: 90%;}
.grid-item { 
    width: 20%; 
    height: 600px; 
    float: left; 
    padding: 5px; 
}
li:first-child {
    width: 50%;
}
section{
    background-color:rgb(2, 0, 128);
}
body{
    background-color:rgba(49, 45, 248, 0.24); 
}

}

li:hover { background-color: rgb(250, 250, 250); }
